.product-grid[b-3wtwut2oo8] {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 1px solid #e7e7e7;
}

    .product-grid .product-image[b-3wtwut2oo8] {
        position: relative;
    }

        .product-grid .product-image a.image[b-3wtwut2oo8] {
            display: block;
        }

        .product-grid .product-image img[b-3wtwut2oo8] {
            width: 100%;
            height: auto;
            transition: all 0.3s ease 0s;
        }

        .product-grid .product-image:hover img[b-3wtwut2oo8] {
            transform: translate(10px,-10px);
        }

    .product-grid .product-sale-label[b-3wtwut2oo8] {
        color: #fff;
        background: #1abc9c;
        font-size: 13px;
        text-transform: capitalize;
        line-height: 35px;
        width: 55px;
        height: 35px;
        position: absolute;
        top: 0;
        right: 0;
        animation: bg-animate-b-3wtwut2oo8 5s infinite linear;
    }

    .product-grid .product-links[b-3wtwut2oo8] {
        padding: 0;
        margin: 0;
        list-style: none;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        bottom: 15px;
        left: 20px;
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .product-links[b-3wtwut2oo8] {
        opacity: 1;
    }

    .product-grid .product-links li[b-3wtwut2oo8] {
        margin: 0 0 5px;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .product-links li:nth-child(2)[b-3wtwut2oo8] {
        transition: all 0.3s ease 0.15s;
    }

    .product-grid:hover .product-links li[b-3wtwut2oo8] {
        opacity: 1;
        transform: translateX(0);
    }

    .product-grid .product-links li a[b-3wtwut2oo8] {
        color: #fff;
        background-color: #00b894;
        font-size: 14px;
        text-shadow: 0 0 3px rgba(0,0,0,0.7);
        padding: 8px 10px;
        display: block;
        opacity: 0.9;
        transition: all 0.3s ease 0s;
        animation: bg-animate-b-3wtwut2oo8 5s infinite linear;
    }

        .product-grid .product-links li a:hover[b-3wtwut2oo8] {
            color: #fff;
            box-shadow: 0 0 0 3px #fff inset;
            opacity: 1;
        }

        .product-grid .product-links li a i[b-3wtwut2oo8] {
            margin: 0 5px 0 0;
        }

    .product-grid .product-content[b-3wtwut2oo8] {
        padding: 15px 0 5px;
    }

    .product-grid .title[b-3wtwut2oo8] {
        font-size: 17px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 0 10px 14px;
        margin: 0 0 7px;
        border-bottom: 1px solid #dfe5e9;
    }

        .product-grid .title a[b-3wtwut2oo8] {
            color: #000;
            transition: all 0.3s ease 0s;
        }

            .product-grid .title a:hover[b-3wtwut2oo8] {
                animation: color-animate-b-3wtwut2oo8 5s infinite linear;
            }

    .product-grid .price[b-3wtwut2oo8] {
        color: #1abc9c;
        font-size: 20px;
        font-weight: 400;
        animation: color-animate-b-3wtwut2oo8 5s infinite linear;
    }

        .product-grid .price span[b-3wtwut2oo8] {
            color: #999;
            text-decoration: line-through;
            margin: 0 3px 0 0;
        }

@keyframes color-animate-b-3wtwut2oo8 {
    0% {
        color: #00b894;
    }

    20% {
        color: #00cec9;
    }

    40% {
        color: #0984e3;
    }

    60% {
        color: #6c5ce7;
    }

    80% {
        color: #e84393;
    }

    100% {
        color: #00b894;
    }
}

@keyframes bg-animate-b-3wtwut2oo8 {
    0% {
        background-color: #00b894;
    }

    20% {
        background-color: #00cec9;
    }

    40% {
        background-color: #0984e3;
    }

    60% {
        background-color: #6c5ce7;
    }

    80% {
        background-color: #e84393;
    }

    100% {
        background-color: #00b894;
    }
}

@media screen and (max-width:1200px) {
    .product-grid[b-3wtwut2oo8] {
        margin: 0 0 30px;
    }
}
