/* _content/SneakerShopBlazor/Pages/Home/MenuBar.razor.rz.scp.css */
.menubar[b-3asakj2twk]{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    padding:10px 10px;
}
.menubar__item[b-3asakj2twk]{
    text-align:center;
}
/* _content/SneakerShopBlazor/Pages/ListProducts/ItemProduct.razor.rz.scp.css */
.product-grid[b-3wtwut2oo8] {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 1px solid #e7e7e7;
}

    .product-grid .product-image[b-3wtwut2oo8] {
        position: relative;
    }

        .product-grid .product-image a.image[b-3wtwut2oo8] {
            display: block;
        }

        .product-grid .product-image img[b-3wtwut2oo8] {
            width: 100%;
            height: auto;
            transition: all 0.3s ease 0s;
        }

        .product-grid .product-image:hover img[b-3wtwut2oo8] {
            transform: translate(10px,-10px);
        }

    .product-grid .product-sale-label[b-3wtwut2oo8] {
        color: #fff;
        background: #1abc9c;
        font-size: 13px;
        text-transform: capitalize;
        line-height: 35px;
        width: 55px;
        height: 35px;
        position: absolute;
        top: 0;
        right: 0;
        animation: bg-animate-b-3wtwut2oo8 5s infinite linear;
    }

    .product-grid .product-links[b-3wtwut2oo8] {
        padding: 0;
        margin: 0;
        list-style: none;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        bottom: 15px;
        left: 20px;
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .product-links[b-3wtwut2oo8] {
        opacity: 1;
    }

    .product-grid .product-links li[b-3wtwut2oo8] {
        margin: 0 0 5px;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 0.3s ease 0s;
    }

    .product-grid:hover .product-links li:nth-child(2)[b-3wtwut2oo8] {
        transition: all 0.3s ease 0.15s;
    }

    .product-grid:hover .product-links li[b-3wtwut2oo8] {
        opacity: 1;
        transform: translateX(0);
    }

    .product-grid .product-links li a[b-3wtwut2oo8] {
        color: #fff;
        background-color: #00b894;
        font-size: 14px;
        text-shadow: 0 0 3px rgba(0,0,0,0.7);
        padding: 8px 10px;
        display: block;
        opacity: 0.9;
        transition: all 0.3s ease 0s;
        animation: bg-animate-b-3wtwut2oo8 5s infinite linear;
    }

        .product-grid .product-links li a:hover[b-3wtwut2oo8] {
            color: #fff;
            box-shadow: 0 0 0 3px #fff inset;
            opacity: 1;
        }

        .product-grid .product-links li a i[b-3wtwut2oo8] {
            margin: 0 5px 0 0;
        }

    .product-grid .product-content[b-3wtwut2oo8] {
        padding: 15px 0 5px;
    }

    .product-grid .title[b-3wtwut2oo8] {
        font-size: 17px;
        font-weight: 400;
        text-transform: capitalize;
        padding: 0 10px 14px;
        margin: 0 0 7px;
        border-bottom: 1px solid #dfe5e9;
    }

        .product-grid .title a[b-3wtwut2oo8] {
            color: #000;
            transition: all 0.3s ease 0s;
        }

            .product-grid .title a:hover[b-3wtwut2oo8] {
                animation: color-animate-b-3wtwut2oo8 5s infinite linear;
            }

    .product-grid .price[b-3wtwut2oo8] {
        color: #1abc9c;
        font-size: 20px;
        font-weight: 400;
        animation: color-animate-b-3wtwut2oo8 5s infinite linear;
    }

        .product-grid .price span[b-3wtwut2oo8] {
            color: #999;
            text-decoration: line-through;
            margin: 0 3px 0 0;
        }

@keyframes color-animate-b-3wtwut2oo8 {
    0% {
        color: #00b894;
    }

    20% {
        color: #00cec9;
    }

    40% {
        color: #0984e3;
    }

    60% {
        color: #6c5ce7;
    }

    80% {
        color: #e84393;
    }

    100% {
        color: #00b894;
    }
}

@keyframes bg-animate-b-3wtwut2oo8 {
    0% {
        background-color: #00b894;
    }

    20% {
        background-color: #00cec9;
    }

    40% {
        background-color: #0984e3;
    }

    60% {
        background-color: #6c5ce7;
    }

    80% {
        background-color: #e84393;
    }

    100% {
        background-color: #00b894;
    }
}

@media screen and (max-width:1200px) {
    .product-grid[b-3wtwut2oo8] {
        margin: 0 0 30px;
    }
}
/* _content/SneakerShopBlazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-002mdqg20j] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-002mdqg20j] {
    flex: 1;
}

.sidebar[b-002mdqg20j] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-002mdqg20j] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-002mdqg20j]  a, .top-row .btn-link[b-002mdqg20j] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-002mdqg20j] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-002mdqg20j] {
        display: none;
    }

    .top-row.auth[b-002mdqg20j] {
        justify-content: space-between;
    }

    .top-row a[b-002mdqg20j], .top-row .btn-link[b-002mdqg20j] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-002mdqg20j] {
        flex-direction: row;
    }

    .sidebar[b-002mdqg20j] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-002mdqg20j] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-002mdqg20j] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SneakerShopBlazor/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ci9v5dgwgf] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ci9v5dgwgf] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ci9v5dgwgf] {
    font-size: 1.1rem;
}

.oi[b-ci9v5dgwgf] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ci9v5dgwgf] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ci9v5dgwgf] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ci9v5dgwgf] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ci9v5dgwgf]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ci9v5dgwgf]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ci9v5dgwgf]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ci9v5dgwgf] {
        display: none;
    }

    .collapse[b-ci9v5dgwgf] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
