<div class="menubar">
    <div class="menubar__item">
        <NavLink class="nav-link btn" href="">
            Trang chủ
        </NavLink>
    </div>
    <div class="menubar__item">
        <NavLink class="nav-link btn" href="list-product">
            Tất cả sản phẩm
        </NavLink>
    </div>
</div>
