
<div class="account">
    <div class="account__logo">
        <i class="fas fa-user"></i>
    </div>
    <div class="account__txt">
        <p>Đăng ký/Đăng nhập</p>
        <p>Nhận ngay ưu đãi</p>
    </div>
</div>

@code {

}
