
<div class="searchbox">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
    </div>
</div>