
<div class="col-md-3 col-sm-6">
    <div class="product-grid">
        <div class="product-image">
            <a href="#" class="image">
                <img class="pic-1" src="./images/products/img-2.jpg">
            </a>
            <ul class="product-links">
                <li><a><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                <li><a><i class="fa fa-search"></i> Quick View</a></li>
            </ul>
        </div>
        <div class="product-content">
            <h3 class="title"><a>Women's Cotton Top</a></h3>
            <div class="price">$79.99</div>
        </div>
    </div>
</div>
    
